<% @recentopinion.each do |opinion| %>

<li> 
     <div class="for-image"> <%= image_tag opinion.user.photo, style: "width: 50px; height: 50px" %> </div>
     <div class="recent-follower">
          <div class="person-time">
                <h5> <%= opinion.user.fullname %></h5>  
                <span class="opionion-time"> <%= opinion.created_at.strftime("%b %d, %I:%M %p") %></span> 
          </div>
          <div>  
               <p>
                    <%= opinion.comment %> 
                    <span class="reply_now" <%= "id=#{opinion.id}/#{current_user.id}" %> > Reply </span>
                    
               </p> 
               
               <p class="interactions"> 
                    
                    <span> <i> Replies </i>  <em> <%= opinion.replies.count %>  </em> </span>
                    <span> <i> <%= link_to 'Likes', like_path(opinion.id, current_user.id), {method: :post, title: "click to like opinion"}  %> </i>  <em> <%= opinion.likes.count %>  </em> </span>
                    <span> <i> <%= link_to 'Dislikes', dislike_path(opinion.id, current_user.id), {method: :post, title: "click to dislike opinion"}  %> </i> <em> <%= opinion.dislikes.count %> </em> </span>
               </p>
          </div>
     </div>    
</li>

<% end %>