<div id="timeline">

<div id="new-post"> 
<%= form_for @opinion do |f| %> 
<span> Say something<span> 
<%= f.text_field :comment, placeholder: 'compose a new opinion'  %>
<%= f.submit "SUBMIT", id: 'blue-btn'%>
<% end %>


</div>
<div id="recent-opinions"> 
    <h4> <%= @recentopinion.count%> <i> NEW CONVERSATIONS  </i> </h4>
    <ul class="opinions-list"> 
        <%= render 'showopinion' %>
    </ul>
</div>
</div>