<div class="sessions_page">

<h2>Log into your account</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    
    <%= f.email_field :email, placeholder: " enter email" %>
  </div>

  <div class="field">
    
    <%= f.password_field :password, placeholder:  " enter password", class: "down-radius" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<div class="alternate-action"> 
<span> Don't have an account?  </span> 
<%= render "devise/shared/links" %> 
</div>
</div>
